[2018-10-11 09:23] bmnwebshop opened #10 "Request-URI Too Long with product-import"
When I want to import products from Akeneo to Magento, I get an error.

Error: Request-URI Too Long

### Environment and configuration
1. Magento Commerce 2.2.5
2. Akeneo CE 2.3.4 (google cloud)
3a. We had installed the Pimgento2 before we installed this newer version with API.
3b. Installed PimGento2 (API)
4. My url of the pim is only: 12 charachters with subdomain,

### Steps to reproduce
1. Bac

[2018-10-12 11:15] Dnd-Gimix commented on #10
Dear @bmnwebshop ,

Thank you for using PIMGento2 (API).
Could you try to raise or add the following directive in the Apache configuration of the Magento server :
LimitRequestLine

Could you also provide us the configuration of your product import in the Magento 2 admin panel ?

Thank you.

[2018-10-15 10:33] bmnwebshop commented on #10
Hi Remi,

We changed the setting on the server, but we use a hypernode + Nginx and no apache.
Hopefully you can help me out. For me it’s strange that “Familys” and “Categories” is working fine, so the connection is working.

Thanks in advance!

Some screenshots of the configuration:

[cid:image001.jpg@01D46483.3C2FB580]

[cid:image002.png@01D46483.3C2FB580]
[cid:image003.png@01D46483.3C2FB580]
[ci

[2018-10-15 11:39] Dnd-Gimix commented on #10
Hi @bmnwebshop ,

For Nginx, could you try to increase the "large_client_header_buffers" configuration following one of those examples :
- https://stackoverflow.com/questions/1067334/how-to-set-the-allowed-url-length-for-a-nginx-request-error-code-414-uri-too
- http://gbanis.com/blog/howto-troubleshoot-nginx-error-uri-too-large

Also, I can't see any of the images that you provided on the last com

[2018-10-22 07:57] max78 opened #12 "Trouble when importing family"
Hi

i have some trouble when importing familys
here is the log

family
[07:50:55] Start import
[07:50:55] Import ID : 5bcd815f79bef
[07:50:55] Create temporary table
[07:50:56] completed
[07:50:56] Fill temporary table
[07:50:56] 1 line(s) found
[07:50:56] Match code with Magento ID
[07:50:56] completed
[07:50:56] Create or update families
[07:50:57] SQLSTATE[42S22]: Column not found: 1054 Unknown

[2018-10-23 07:03] sydekumf opened #14 "Not compatible with M 2.3"
### Environment and configuration
1. PHP 7.1
2. Magento 2.3
3. PIMGento 2 API (newest version)

### Steps to reproduce
1. Import categories (or other entities)

### Expected result
1. Import sucessfully

### Actual result
1. An error appears: `[06:57:59] Notice: Undefined index: VARCHAR(255) NOT NULL DEFAULT "`

Background:
- In M 2.3 there is a new method in `Magento\Framework\DB\Adapter\Pdo\Mysq

[2018-10-23 12:41] Dnd-Gimix commented on #14
Hi @sydekumf,

Thank you for using PIMGento2 API.

We are going to review your issue and test on our local environments with a Magento 2.3 version to deliver a fix.

We will come back to you once it's done.

Thanks again.
Regards,

[2018-10-23 12:42] Dnd-Gimix commented on #12
Hi @max78,

Thank you for using PIMGento2 API.
Your issue is acknowledged, we will come back to you as soon as possible.

Regards,

[2018-10-23 12:49] Dnd-Gimix commented on #12
@max78,

Could you provide us the default locale for the admin store in Magento and the list of locale enabled in your Akeneo please ?

Thank you.
Regards,

[2018-10-23 13:39] max78 commented on #12
Hi, thx for the reply
i've found the solution (not a bug)
i had no label for the family.

FYI Akeneo and M2 are in FR_fr

Regards

[2018-10-23 13:39] Dnd-Gimix commented on #10
Hi @bmnwebshop,

Have you tried to change the NGINX setting ?

Thanks.
Regards,

[2018-10-23 13:43] Dnd-Gimix commented on #12
@max78 ,

Thank you for your reply.
We will still analyse this point to check if catching the error could be relevant in this case.

Regards,

[2018-10-31 10:02] sydekumf commented on #14
Hi there,

thanks a lot. Can you maybe tell us when we can think of a fix for that? Will it take 1-2 weeks or maybe 1-2 months or more?
Just a rough clue, about when we can count with it, would be really helpful :-)

Thanks a lot!

[2018-11-01 14:54] JelleGroenendal opened #16 "Problems with duplicate rewrite rules"
When running an import on either Category or Products i run in to the following issue.
SQLSTATE[23000]: Integrity constraint violation: 1062

In our situation we have multiple store views and some store views have multiple languages on the same domain.
We are switching from Akeneo 1.7 to Akeneo 2.3 and as a twist we integrated content from CNET in to akeneo 2.3.
This means all product content is m

[2018-11-01 21:51] JelleGroenendal opened #17 "Wish for usage of the multiple images field"
It seems that there is no functionality that uses the multiple images field that exist in Akeneo 2.3
It would be nice if we could use that to add images to the media_gallery in magento.
Is this on the roadmap?

[2018-11-03 20:22] sahilgoyal786 opened #18 "Error when trying to import products"
product
[20:21:07] Start import
[20:21:07] Import ID : 5bde0333cfd7f
[20:21:07] Create temporary table
[20:21:10] completed
[20:21:10] Fill temporary table
[20:21:12] Property "completeness" expects a valid scope.

[2018-11-05 07:17] JelleGroenendal commented on #17
Not relevant this is done with the assets configuration.

[2018-11-05 07:17] #17 closed

[2018-11-05 09:00] JelleGroenendal commented on #18
You need to configure the mapping of the website in the Pimgento store configuration

[2018-11-05 09:03] sahilgoyal786 commented on #18
on Magento end or akeneo end?

[2018-11-05 09:31] JelleGroenendal commented on #18
At the Magento end.
For example you can map the websites / storeviews in the configuration of Pimgento.
For a default Akeneo installation the channel will probably be ecommerce.
So example.com can be mapped to ecommerce.
This can be done in Store -> Configuration -> Catalog -> Pimgento: Akeneo API Configuration -> Website mapping.

[2018-11-05 09:54] #18 closed

[2018-11-05 10:28] Dnd-Gimix commented on #16
Hi @JelleGroenendal ,

Thank you for using PIMGento 2 API !
We are going to review your issue and provide a fix for the duplicate URLs.

We'll come back to you when it's done.

Regards,

[2018-11-05 12:37] JelleGroenendal commented on #16
I created a PR for a fix that could work.

[2018-11-07 08:59] JelleGroenendal opened #21 "Double products in list after import"
We have allot of products that are changing due to new attribute sets and families configured in Akeneo.
What we see is that when an import is run some products are double in Magento.
With double we mean the SKU is twice in the product list both having different content.
I think it has to do with the attribute set changing.
It seems as if the product is not seen as the same product and thus create

[2018-11-09 09:04] #14 closed

[2018-11-12 14:54] TVO99 opened #24 "Unable to install Pimgento on Magento 2.2.6"
Hi,

I am trying to install the API version of Pimgento on Magento 2.2.6 CE  (Ubuntu 18.04)  with composer using these instructions:

https://www.pimgento.com/docs/v2.0-api/important-stuff/how_to

When I issue the command:

composer require agencednd/module-pimgento-2-api

I get this error:

webuser@akeneo:~$ composer require agencednd/module-pimgento-2-api
Using version ^100.1 for agencednd/modul

[2018-11-12 15:38] TVO99 commented on #24
Oops sorry I was not in the magento2 root dir when I issued the command.

[2018-11-12 15:38] #24 closed

[2018-11-15 10:34] markdooremaal opened #25 "Configurable products are not imported correctly"
When I import my products the different variant products will import correctly as simple products but pimgento will create 2 configurable products both not containing the right amount of variants.

### Environment and configuration

1. Magento 2.2.6
2. Akeneo  2.3.16
3. PIMgento2 (API)
4. PHP 7.1.23
5. MySQL 5.7.24
6. [Valet+](https://github.com/weprovide/valet-plus)
7. MacOS 10.14.1

### Steps to

[2018-11-15 17:37] TVO99 opened #26 "Error when importing products"
Hi,

When I try to import products from Akeneo 2.3.6 (using the magento admin interface), I'm getting this error:
All the previous steps worked fine (importing categories, families, attributes...)

product
[17:27:16] Start import
[17:27:16] Import ID : 5bedac747edef
[17:27:16] Create temporary table
[17:27:16] Notice: Undefined offset: 0 in /var/www/html/magento2/vendor/agencednd/module-pimgento-2

[2018-11-16 09:19] Dnd-Gimix commented on #21
Hello @JelleGroenendal ,

Thank you for using PIMGento2 API.
You might be right, it should be related to attribute set switch.

We'll have a look at this issue and come back to you.

Regards,

[2018-11-16 10:46] JelleGroenendal opened #27 "Url rewrites for products per category not created"
When importing categories or products the products are not linked to the category in the URL rewrite table.
Category rewrite and product rewrite are created but not category/product combined.

### Environment and configuration
1. Magento 2.2.3
2. PIMGento2 (API)
3. Akeneo 2.3
4. Ubuntu 16.5
5. PHP 7.1
6. mysql Ver 15.1 Distrib 10.2.18-MariaDB

### Steps to reproduce
php bin/magento pimgento:import

[2018-11-16 11:47] TVO99 commented on #26
Hi,

We are using a stock Akeneo installation, no customization at all.
And yes, we are using multiselect attributes in viarious places:

Example:

Van: "Rémi Verrière" <notifications@github.com>
Aan: "Agence-DnD/PIMGento-2-API" <PIMGento-2-API@noreply.github.com>
Cc: "tom" <tom.van.overbeke@telenet.be>, "Mention" <mention@noreply.github.com>
Verzonden: Vrijdag 16 november 2018 10:28:01
Onderwerp:

[2018-11-16 12:00] Dnd-Gimix commented on #26
@TVO99 ,

A cannot see your attached files.
Could you please re-upload them ?

Thank you.

Regards,

[2018-11-16 12:40] TVO99 commented on #26
Hi,

is this better?

Van: "Rémi Verrière" <notifications@github.com>
Aan: "Agence-DnD/PIMGento-2-API" <PIMGento-2-API@noreply.github.com>
Cc: "tom" <tom.van.overbeke@telenet.be>, "Mention" <mention@noreply.github.com>
Verzonden: Vrijdag 16 november 2018 13:00:53
Onderwerp: Re: [Agence-DnD/PIMGento-2-API] Error when importing products (#26)

[ https://github.com/TVO99 | @TVO99 ] ,

A cannot see yo

[2018-11-16 12:46] Dnd-Gimix commented on #26
@TVO99 ,

Unfortunetly no :/
Can you post your comment directly from the Github interface please ?

Thanks.

Regards,

[2018-11-16 13:44] TVO99 commented on #26
Hi,
here's the screenshot:
![knipsel](https://user-images.githubusercontent.com/43167260/48624948-17f03680-e9ae-11e8-9c8a-4f13e9cb93b9.PNG)

[2018-11-16 13:44] TVO99 commented on #26
Hi,

I just added it via github.

Van: "Rémi Verrière" <notifications@github.com>
Aan: "Agence-DnD/PIMGento-2-API" <PIMGento-2-API@noreply.github.com>
Cc: "tom" <tom.van.overbeke@telenet.be>, "Mention" <mention@noreply.github.com>
Verzonden: Vrijdag 16 november 2018 13:46:49
Onderwerp: Re: [Agence-DnD/PIMGento-2-API] Error when importing products (#26)

[ https://github.com/TVO99 | @TVO99 ] ,

Unf

[2018-11-19 14:31] TVO99 commented on #26
Hi,
Do you need further info from me to speed up the bug investigation?

[2018-11-20 09:23] NirmalRaval opened #30 "Product Import: pimgento_product_model table doesn't exist"
As per the issue mentioned in previous ticket #172, I am still facing the same issue even though I have downloaded the latest zip from site just 4 days back.

Here is the details of my Issue, I have tried to import products from Akeneo to Magento after configuring successfully.

It throws following error while importing.

I have also attached screenshot of same error.

We have table prefix in data

[2018-11-20 11:50] sydekumf opened #29 "When is `_is_new`= 1?"
It is not a bug report, but more a question, as I can not find any documentation or help. The `_is_new` field is default set to `0` in `tmp_pimgento_entities_family`. Who or what does it set to `1`? Is it from the Akeneo API? What should be set there so that entites are again new?

The problem is:
On one system everything works, if you import a second time on another system, the data is broken, as

[2018-11-20 13:19] Dnd-Gimix commented on #30
Hello @NirmalRaval ,

Thank you for using PIMGento2 API.

Could you try to follow these steps :
- php bin/magento setup:db:status
- php bin/magento setup:upgrade
- php bin/magento cache:flush

Can you tell me what is your database prefix ?

Thank you.
Regards,

[2018-11-20 13:36] NirmalRaval commented on #30
Hello,

I have tried all the above setps but it did not worked for me.

database table prefix is 'dev_'

Let me know if any other details needed.

[2018-11-20 14:34] NirmalRaval commented on #30
Hello,

We have added table prefix manually in your extension code in our project.

So the table not found issue got resolved for us as of now.

Now we are getting Foreign Key constraints issue while importing Category and Product.

Here is the error that I am getting while import.

Category Import:

Product Import

Let me know if you can help us out in this.

[2018-11-20 15:44] Dnd-Gimix commented on #30
@NirmalRaval : We have been able to reproduce the issue on a local environment.
We are currently working on a fix for the issue.

Regards,

[2018-11-20 16:44] Dnd-Gimix commented on #30
@NirmalRaval ,

The prefix issue has been fixed by @magentix on https://github.com/Agence-DnD/PIMGento-2-API/pull/31.
This fix is supposed to also handle your second error message.

Could you please try again with the changes from the PR ?

Thanks.
Regards,

[2018-11-21 07:35] NirmalRaval commented on #30
Hello,

Sure, let me check and update you soon on this.

Thanks.

[2018-11-21 08:56] JelleGroenendal commented on #27
I created a PR for a fix on this issue. Can some one have a look at it?

[2018-11-21 09:21] NirmalRaval commented on #30
Hello,

I have added the fix to our project and both the error has been solved now.

After that I have tried to import one product by adding filter in product from magento admin and executed product import.

It ran successfully but New Product created instead of updating the same product from Akeneo.

We need to create the Product/Category/Family/Attribute only if it is not there in magento otherw

[2018-11-22 13:59] magentix commented on #29
Hi,

```_is_new``` is set to 1 when entity imported is not yet in Magento.

Column is set to 1 after entity matching for new entities.

Regards,
Matthieu

[2018-11-22 14:40] magentix commented on #21
Hi,

Double products can happen when ;

* pimgento_entities table is flushed
* Product has been added manually in Magento
* Product identifier has been updated

If you launch import, do products are duplicated again?

Regards,
Matthieu

[2018-11-22 15:57] magentix commented on #25
Hi,

Indeed, actually 2 levels variant create 2 configurables instead 1 in Magento.

We work to fix this quickly.

Regards,
Matthieu

[2018-11-22 15:58] magentix commented on #26
Hi @rakibabu ,

PR is validated and will be merged.

Thanks for contribution 🥇

[2018-11-23 09:35] Dnd-Gimix commented on #16
Hello @JelleGroenendal ,

Duplicate URLs is fixed in the new release 100.1.2.
See you soon !

Regards,

[2018-11-23 09:36] Dnd-Gimix commented on #26
Hi @TVO99 , @rakibabu ,

Fix has been applied in the new release 100.1.2.
Thank you for your contribution !

Have a good day.

Regards,

[2018-11-23 09:36] #26 closed

[2018-11-23 10:01] Dnd-Gimix commented on #30
Hello @NirmalRaval ,

The fix for Magento prefixed table is now released in the new 100.1.2 version.

As discussed by e-mail regarding the update of your products :

- You can't update products that have not been imported with the connector
- PIMGento needs the link created during import to match with your products in Magento so if the link is missing, it will create new product instead of updatin

[2018-11-23 10:01] #30 closed

[2018-11-23 10:03] Dnd-Gimix commented on #10
Hi @bmnwebshop ,

Did you fixed your Request-URI Too Long issue ?

Regards,

[2018-11-23 12:22] JelleGroenendal commented on #16
After installing the new and improved module i noticed that we still have duplicate errors.

SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry

The error happens with this line:
https://github.com/Agence-DnD/PIMGento-2-API/blob/master/Job/Product.php#L1467

To be sure that its not because of old data i cleared out the url_rewrite table for products and categories.
But it still

[2018-11-23 13:11] magentix commented on #16
Does this still happen for the URL key "5025121382052.html"?

[2018-11-23 13:13] magentix commented on #25
Hi,

A Pull Request has been added:

https://github.com/Agence-DnD/PIMGento-2-API/pull/38

This issue will be fix in next release.

Regards,
Matthieu

[2018-11-23 13:20] JelleGroenendal commented on #16
Some examples:
string(288) "SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry 'elektronica/audio-video/accessoires-4/flexson-montage-mural-6.ht' for key 'URL_REWRITE_REQUEST_PATH_STORE_ID', query was: UPDATE `url_rewrite` SET `request_path` = ?, `metadata` = ? WHERE (url_rewrite_id = '58105117')"

string(271) "SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entr

[2018-11-26 08:07] JelleGroenendal commented on #16
I think this ticket should be reopened.

[2018-11-26 09:14] Dnd-Gimix commented on #16
Hi @JelleGroenendal ,

I reopen this issue.

Regards,

[2018-11-27 10:07] Dnd-Gimix commented on #21
Hi @JelleGroenendal ,

In native Magento, you can't change the attribute set from a product once it has been created, so if PIMGento detects a new attribute set for a product it will unfortunately create a duplicate.

Regards,

[2018-11-27 10:32] JelleGroenendal commented on #21
@Dnd-Gimix where is this check done in the Pimgento module.
I understand that you cant have this in your module. However i need to do it once in our store.

[2018-11-27 16:10] wgriffiths opened #41 "Products added to All Websites"
We have setup multiple channels in Akeneo and multiple website in Magento. Products are only in one channel in Akeneo, but when we import them into Magento they are available on all websites. Is there a way of restricting the websites a product is on based on the akeneo to magento mapping?

From the code it looks like it will always set a product to be available on all websites, or have I missed s

[2018-11-27 18:33] JelleGroenendal opened #42 "To many columns"
We are trying to do a full import but are running in to a restriction on how many fields are allowed in MYSQL.
Amount of attributes in akeneo : 1471
Amount of languages : 6

**Environment and configuration**
Magento 2.2.3
PIMGento2 (API)
Akeneo 2.3
Ubuntu 16.5
PHP 7.1
mysql Ver 15.1 Distrib 10.2.18-MariaDB
Steps to reproduce
php bin/magento pimgento:import --code=category
php bin/magento pimgento:

[2018-11-27 18:40] JelleGroenendal commented on #42
For us this is a very big issue what can we do to have this as a high priority ticket?

[2018-11-29 16:02] magentix commented on #16
Hi,

[code]

Can you execute request and post here **url_rewrite_id** returned?

[code]

Can you post us the result?

Regards,
Matthieu

[2018-11-29 16:07] magentix commented on #41
Hi wgriffiths,

Indeed, products are setted on all website. We look for assign product only on correct website.

Regards,
matthieu

[2018-12-03 09:44] JelleGroenendal commented on #42
At that moment 1482 columns

[2018-12-03 11:56] JelleGroenendal commented on #42
I looked at the error but it is not just amount of Columns it is also row size that can generate this. With size i mean over 65kb per row.

[2018-12-03 12:20] markdooremaal commented on #25
Hi, @magentix

I tested  #38 and this fixed my issue.
Thanks for the help!

[2018-12-03 12:36] JelleGroenendal opened #44 "Category is not the correct language in the url"
Category and product pages don't get the correct language in the url. For instance category-1(nl) should have a link:
category-0-nl/category-1-nl
what we see is:
category-0-de/category-1-nl
where "de" is the default german language this happens for all category url's and product url's with category.

**Environment and configuration**
Magento 2.2.3
PIMGento2 (API)
Akeneo 2.3
Ubuntu 16.5
PHP 7.1
mys

[2018-12-03 12:59] simonmaass opened #45 "Build fails with clean database"
Patch:

Index: Console/Command/PimgentoImportCommand.php
IDEA additional info:
Subsystem: com.intellij.openapi.diff.impl.patch.CharsetEP
<+>UTF-8
===================================================================
--- Console/Command/PimgentoImportCommand.php	(date 1543840719000)
+++ Console/Command/PimgentoImportCommand.php	(date 1543840719000)
@@ -7,7 +7,7 @@
 use Magento\Framework\Data\Collecti

[2018-12-03 13:05] JelleGroenendal commented on #42
I think part of the problem that all the columns get "text" as column type.

[2018-12-03 14:08] JelleGroenendal commented on #42
@magentix what can i do to help get this fixed.
My idea would be splitting the table up in to multiple ones to handle the data.

[2018-12-06 08:35] DnD-Hellion commented on #44
Hi @JelleGroenendal  ,

Thank you for using Pimgento 2 API.

We do not have this behavior you reported for categories on our test environment.

Could you please come back to us with your Websites/Stores/Store Views configuration so that we can set similar conditions ?

Regarding the product url rewrites issue, [PR#46](https://github.com/Agence-DnD/PIMGento-2-API/pull/46) is awaiting review and sho

[2018-12-06 14:08] DnD-Hellion commented on #45
Hi @simonmaass ,

Thank you for using Pimgento 2 API.

Could you give us more details on the issue you have?
Is your Magento already installed or did you start with a fully empty database?

We will look into this, but we need to create test conditions similar to your environment settings.

Looking forward to reading you.

Regards,

PS: Do not hesitate to create Pull Requests. ;)

[2018-12-07 09:40] LucaGallinari commented on #12
Just for you to know, I also stumbled across this! Thank you @max78 for the solution

[2018-12-07 13:31] Dnd-Gimix commented on #29
Hi @sydekumf ,

Do you need any additional informations on that subject ?

Regards,

[2018-12-07 13:32] Dnd-Gimix commented on #10
Hello @bmnwebshop ,

Did you managed to solve your issue ?

Regards,

[2018-12-07 13:34] Dnd-Gimix commented on #44
Hello @JelleGroenendal ,

Release 100.1.3 is out with the product localized url_key fix mentionned above.

Regards,

[2018-12-08 14:30] simonmaass commented on #45
we have a build that runs over circleci and compiles the whole project - there the process fails but gets fixed with the patch that i posted...

in file: Console/Command/PimgentoImportCommand.php
-use Pimgento\Api\Api\ImportRepositoryInterface;
+use Pimgento\Api\Api\ImportRepositoryInterface\Proxy as ImportRepositoryInterface;

[2018-12-10 07:29] JelleGroenendal opened #48 "Configurable product problem"
After updating to 100.1.3 i ran in to the following issue:

[07:12:50] SQLSTATE[42S22]: Column not found: 1054 Unknown column 'v.parent' in 'on clause', query was: UPDATE `tmp_pimgento_entities_product` AS `e`
 INNER JOIN `pimgento_product_model` AS `v` ON v.parent IS NOT NULL AND e.parent = v.code
SET `e`.`parent` = `v`.`parent`

When i look in the code i cant seem to find any reference that pimg

[2018-12-10 10:13] Dnd-Gimix commented on #12
Hello @LucaGallinari ,

Thank you for the feedback, we will catch the error and prompt a message when this happens.
We'll come back to you with a fix soon.

Regards,

[2018-12-10 22:23] vbidou opened #49 "Memory Required for Installation Pimgento2API through Composer"
Dear Team, I may need your help here, just to verify what are the memory requirements in order to install PimGento2-API.
Installation is failing. I receive an error message that it cannot allocate memory.
Do you point my webhosting plan ?
What Minimum Memory allocation is required for installation with composer?
Thanks in advance.
Best regards,

###########
technos1@es48 [~/public_html]# composer

[2018-12-11 08:43] sydekumf commented on #29
Thanks! It is clear to me :-)

[2018-12-11 08:43] #29 closed

[2018-12-12 11:35] simonmaass opened #51 "Compatibility Magento 2.3?"
Any info on Magento 2.3 compatibility?

[2018-12-13 13:19] Dnd-Gimix commented on #48
Hello @JelleGroenendal ,

You are right, this issue happens because you don't have configurable product.
Our team already fixed it in this PR : https://github.com/Agence-DnD/PIMGento-2-API/pull/50
Could you patch your code with thoses changes ?

This update should be released next week.
Have a good day.

Regards,

[2018-12-13 15:16] JelleGroenendal commented on #16
Hi @Dnd-Gimix,

Im currently working on a fix for the to many attributes problem. It will also include a fix for this problem.
What the code tried to do is changing an existing url to one that has just been created. So it is as simple as removing the unnecessary rewrite. I expect to create a PR somewhere tomorrow.

Regards,
Jelle

[2018-12-13 15:18] JelleGroenendal commented on #42
I will probably create a PR tomorrow with a solution to this issue.

[2018-12-13 15:19] JelleGroenendal commented on #44
I implemented 100.1.3 but didnt see working solution yet. I will spend some time on this tomorrow.

[2018-12-13 21:21] vbidou commented on #49
Merci Rémi !
My PHP.ini memory is set on 768Mo so indeed it should be enough in theory.
I am installing the module on an existing Magento instance.

Tomorrow i'll try few things in order to try fixing this.
I will document the outcomes here, but in the meantime, any idea is welcome :-)

[2018-12-14 18:05] JelleGroenendal commented on #49
Do a composer require on your local machine upload the composer lock file to your server and do a composer install. Composer install is allot less memory intensive compared to composer require.

[2018-12-15 01:59] MsEngineer opened #54 "SQL error 1054 on importing product"
Akeneo PIM
Magento 2.2.7
PIMGento-2-API

Error message when trying to import products from Akeneo:
SQLSTATE[42S22]: Column not found: 1054 Unknown column 'v.parent' in 'on clause', query was: UPDATE `tmp_pimgento_entities_product` AS `e` INNER JOIN `pimgento_product_model` AS `v` ON v.parent IS NOT NULL AND e.parent = v.code SET `e`.`parent` = `v`.`parent`

[2018-12-15 13:43] #54 closed

[2018-12-15 13:43] MsEngineer commented on #54
Sorry, this issue has already been fixed earlier.

[2018-12-16 19:59] vbidou commented on #49
Dear JelleGroenendal, thanks for your feedback. Really appreciated.
Attempting to use composer Install instead of Composer Require generated still some errors.
I need to train myself in the proper use of composer, because I am still a beginner.

I managed to get a mapping how composer install work ([here](https://adamcod.es/2013/03/07/composer-install-vs-composer-update.html))
When I run Composer

[2018-12-17 14:45] MsEngineer opened #55 "Error in importing currency and convert group in Akeneo to attribute in Magento"
Unable to import prices in correct currency.
Magento multi-websites but unique webstore/catalogue and multiple currencies.
Akeneo unique channel multiple languages and currencies.
The problem is that Pimgento only import the first price in Akeneo and does not upload each price for each currency.
Also, the brand in Magento is an attribute but is a group in Akeneo. I need to import the brand in Mage

[2018-12-17 18:12] JelleGroenendal commented on #55
https://github.com/Agence-DnD/PIMGento-2-API/pull/53 solves this i believe.

[2018-12-18 15:54] davidselo opened #56 "Issue Importing Prices with the connector from Akeneo to Magento"
An issue found with prices imported from Akeneo to Magento.

### Environment and configuration

1. Magento 2.3
2. Akeneo 2.3.17
3. PIMGento2 (API)
4. Akeneo Sample Data.

### Summary of the issue

An issue has been found in the process of importing the product catalog from Akeneo to Magento.

There are two scenarios

1. Product in Akeneo doesn't have a price: Then the connector import the product

[2018-12-20 15:47] sydekumf commented on #51
There is already a release for that.

[2018-12-20 15:57] sydekumf opened #57 "Feature questions (configurables, product websites, attribute scope)"
Hi there,

we think Pimgento is a very nice structured module to import products from Akeneo to Magento. But we encountered three problems which we are kind of surprised, how Pimgento handles them:

- We have a configurable on 3 levels in Akeneo, i.e. a T-Shirt with color and size:
![bildschirmfoto 2018-12-20 um 16 51 03](https://user-images.githubusercontent.com/3983052/50295088-95a8d580-0477-11e

[2018-12-20 16:07] sydekumf commented on #57
Hi there,

I just found out that problem 1 was already fixed in https://github.com/Agence-DnD/PIMGento-2-API/pull/38

So only problem 2 and 3 are relevant for us :-)

[2018-12-20 16:35] simonmaass commented on #51
in composer:    "php": "~5.6.0|~7.0.0|~7.1.0",

magento 2.3 has 7.2...

[2018-12-23 20:48] sydekumf commented on #51
Magento 2.3 runs on PHP 7.1

[2018-12-25 21:13] gconstable opened #58 "API Settings not Displayed"
Hi, I am after some support please.

I have attempted to install Pimgento-2-API twice now using your instructions with no luck.

Everything appears to install fine with no errors, however, when attempting to configure the API settings under

Configure your API settings in "Store > Configuration > Catalog > Pimgento"

i receive a blank screen with no options over than the menu.   The developer cons

[2018-12-27 10:03] zelgerj commented on #41
Hi @magentix,

perfekt! What about the timing of this enhancement?

Thanks!

Best regards,
Johann

[2018-12-27 16:44] gconstable commented on #58
This has been resolved.  It turned out to be an issue with the magento installation and not the pimgento installation.

[2018-12-27 16:44] #58 closed

[2018-12-30 17:51] simonmaass commented on #51
well does pimgento support php7.2?

[2019-01-04 18:46] chandrantwins opened #59 "Provide override api documentation"
Hi PIMGento Team,

Really appreciate your work . Please update documentation to explain how to override API. That will be more helpful for beginners.

Thanks
Chandran Nepolean

[2019-01-07 08:18] Dnd-Gimix commented on #59
Hi @chandrantwins ,

Thank you for using PIMGento2 API !

What kind of documentation are you looking for:
- A documentation to override PIMGento2 API module ?
- Or a documentation to override Akeneo API ?

Thank you.
Regards,

[2019-01-08 20:48] vbidou commented on #49
Dear Friends,
I ow you some feedback where I currently stand on this one.
Discussing with the Guru's of my Hosting, they identified that the problem of Memory allocation was associated to the php version which I use (it was 7.1). They advised me to move to php72 and indeed it resolved my general problem which I had with composer. I moved to php7.2.13

But my problem now is that pimgento-2-api refu

[2019-01-09 02:35] VincentJorge opened #61 "url_key error [Magento 2.3]"
Environment and configuration
Magento 2.3
PIMGento2 (API)
Akeneo 2.3
Debian 9
PHP 7.1

Hello everyone ,

So when I try to import the url key on magento with pimgento I get the following error:
- [02:01:56] Set Url Rewrite
[02:07:27] SQLSTATE [42S22]: Column not found: 1054 Unknown column 'tmp_pimgento_entities_product.url_key-en_US-base' in 'field list', query was: SELECT `tmp_pimgento_entities_pr

[2019-01-09 12:17] Dnd-Gimix commented on #10
Hi @bmnwebshop ,

As this issue is not directly related to PIMGento 2 API and without answer, I'll close it.
Feel free to open a new one if necessary ;)

Have a good day.

Regards,

[2019-01-09 12:17] #10 closed

[2019-01-09 12:18] Dnd-Gimix commented on #48
Hello @JelleGroenendal ,

The fix is officially released in the new 100.1.4 version.

Have a nice day !

Regards,

[2019-01-09 12:18] #48 closed

[2019-01-09 12:20] Dnd-Gimix commented on #51
Hello @simonmaass , @sydekumf ,

We have added PHP 7.2 compatibility in the 100.1.4 release.
Have a good day !

Regards,

[2019-01-09 12:20] #51 closed

[2019-01-09 12:22] Dnd-Gimix commented on #25
Hi @markdooremaal ,

Glad it fixed your issue.
Have a nice day.

Regards,

[2019-01-09 12:22] #25 closed

[2019-01-11 17:04] Dnd-Gimix commented on #59
@chandrantwins ,

Did you read the documentation ?

Regards,

[2019-01-14 12:02] chandrantwins commented on #59
Hi Team

I am planning to override pimgento API. because there is  custom change needed. i have checked documentation.. there is no example for how to override.. if anything please give me specific link

Thanks
Chandran

[2019-01-14 12:57] Dnd-Gimix commented on #59
Hi @chandrantwins ,

PIMGento 2 API is a regular extension that doesn't have any specificity regarding the rewrite process of Magento 2.

If you are aware of the rewrite syntax of Magento 2, you should be able to rewrite the connector easily.

Plus, many tutorials are available on the web to show you how to do so :

- https://inchoo.net/magento-2/overriding-classes-magento-2/
- https://magentician

[2019-01-14 13:37] matthiashamacher opened #72 "Configurable Products data"
Hello everyone,

we have some trouble with the data of configurable products especially the name.
In Akeneo our simple products are named like this: sample-product XS grey, sample-product XS orange. The parent or configurable product is named sample-product.
When we import in Magento we want the same naming there, but this is not working (Or we haven't found the correct configuration :D).

We foun

[2019-01-16 13:03] AnatoleRozan commented on #61
Do you have news for that?

[2019-01-16 13:21] AnatoleRozan commented on #61
Same problem. If we create a product from Magento we do't have the error.
I think the issue comes during the import.

[2019-01-18 16:00] Dnd-Gimix commented on #41
Hello @zelgerj , @wgriffiths ,

We have released a new version of the connector (100.2.1), containing the fix to assign products only to the mapped websites in PIMGento2 API configuration.
Also, you'll find a new configuration to assign the channel you want to retreive values from for the admin website : you'll need to fill this configuration in order to launch your imports.

Could you come back t

[2019-01-18 16:01] Dnd-Gimix commented on #49
Hello @vbidou ,

Any news on the subject ?

Regards,

[2019-01-18 16:06] Dnd-Gimix commented on #56
Hello @davidselo , @jonfres ,

The first issue has been resolved with the new version 100.2.1 of the connector :

We are currently working on the scope issue and we will provide a fix for this one soon.

This release is containing multiple improvements that you'll find in our changelog : https://github.com/Agence-DnD/PIMGento-2-API/blob/master/CHANGELOG.md

Make sure to check the new configuration

[2019-01-18 16:09] Dnd-Gimix commented on #57
Hello @sydekumf ,

Thank you for your interest in PIMGento 2 API.
I confirm you that the first problem has already been resolved.

The new version 100.2.1 is out and fix the website assignation issue.

Regarding the third issue, we are aware of this problem and we are currently working on a fix. We will come back to you once it is available.

This release is containing multiple improvements that y

[2019-01-18 16:11] Dnd-Gimix commented on #59
Hi @chandrantwins ,

As your question has been answered and is not concerning directly PIMGento 2 API, I'll close this issue.

Do not hesitate to open a new one if needed.

Have a good day !

Regards,

[2019-01-18 16:11] #59 closed

[2019-01-18 16:14] Dnd-Gimix commented on #61
Hello @VincentJorge , @AnatoleRozan ,

We will check this issue as soon as possible.
In the mean time, could you make sure that your products have a name in each of the configured locales and give us some name example to reproduce the issue ?

Thank you,

Regards,

[2019-01-18 16:18] Dnd-Gimix commented on #72
Hello @matthiashamacher ,

Thank you for using PIMGento 2 API.
I don't think you missed a configuration, we'll check this issue as soon as possible.

Regards,

[2019-01-19 16:17] wgriffiths commented on #41
Thanks @Dnd-Gimix  I will test the release and let you know

[2019-01-25 09:48] karthik32cse commented on #10
**Solution 1:**
Increase the large_client_header_buffers in nginx.conf file http block,
large_client_header_buffers 4 16k;

**Solution 2:**
In my case I have around 700 families. In Akeneo API Configuration page I have choosen one family & excluded rest of the families in Filter Products section and try to import the product. It shows an error like Request-URI Too Long.

After debugging I figured

[2019-01-25 11:38] bmnwebshop commented on #10
Hi Karthik,

I don’t use this extension anymore. Sorry about that.

Cheers.
Fons

Met vriendelijke groet, Kind regards,

Fons Hofstra
Teammanager E-commerce

BMN | Bouwmaterialen
Celsiusbaan 10 | 3439NC Nieuwegein

M +31 6 26760049
E fons.hofstra@bmn.nl<mailto:fons.hofstra@bmn.nl> | www.bmn.nl<http://www.bmn.nl>

KvK BMN Bouwmaterialen BV | 01013888

Twitter<https://twitter.com/BMN_Nederland> | Fa

[2019-01-28 14:11] Dnd-Gimix commented on #41
Hello @zelgerj , @wgriffiths ,

Have you been able to test the new release that fix product website assignation ?

Regards,

[2019-01-28 14:11] Dnd-Gimix commented on #57
Hello @sydekumf  ,

Have you been able to test the new release that fix product website assignation ?

Regards,

[2019-01-28 14:13] Dnd-Gimix commented on #49
Hello @vbidou ,

Is PHP 7.2 compatibility OK for you ?

Regards,

[2019-01-28 20:05] vbidou commented on #49
Dear Rémi,

Sorry for the late feedback since I've been 2 weeks in Russia and just returned.
The attempt to install 100.1.4 leaded to crash completely Magento, because of wrong composer manipulations. I had to restart my testing environment. Hence I reinstalled Magento this time with version 2.3 and I'll do a test within 2 weeks. I'll surely keep you posted with the outcomes. Sorry for the delay.

[2019-01-28 20:05] wgriffiths commented on #41
@Dnd-Gimix I have tested it and It didn't seem to work. I think it because I didn't clear out my catalog_product_website. I am clearing out all my product data and giving it another go. Apologies for the delay in verifying the fix

[2019-01-29 08:59] zelgerj commented on #41
@Dnd-Gimix ,

looks good! Thanks for keeping us on track!
I very appreciate that :+1:

Best Regards,
Johann

[2019-02-01 14:04] akosglue commented on #72
any updates about this?

[2019-02-01 14:08] akosglue commented on #72
@matthiashamacher
"The other option is to let the value field empty. Then the name of the configurable product is the name of one of the simple products (probably the first?)."

This should be the expected behavior normally. You leave it empty on the right side, and you fill in "name" to the left side. Then you go further to other attributes like this :-)
It is also mentioned on the configuration

[2019-02-06 16:03] Dnd-Gimix commented on #41
Hello @wgriffiths ,

No problem, thank you for the answer. Is everything good after deleting the catalog_product_website content ?

Hello @zelgerj ,

Thank you for your answer, glad it worked !

Have a good day.
Regards,

[2019-02-11 14:23] BenAtGene opened #77 "Error when importing Attributes to Magento"
With a new installation of PIMGento Magento 2 (API Version) Extension on Magento Commerce 2.3, the PIMGento import of Attributes from the Akeneo Staging environment to Magento causes an error.

This has been replicated on both the Local and Staging Magento environments.

### Environment and configuration

1. PIMGento Magento 2 (API Version) Extension.

2. Magento Commerce 2.3. Tested on both Magen

[2019-02-11 17:40] QuentinSc opened #78 "Product import too many columns"
Hello,

product import for a french retailler.
Error mysql

![image](https://user-images.githubusercontent.com/16439299/52577266-04743080-2e22-11e9-92b6-3d8ee8261b11.png)

Could you help us ?

Thank you !

[2019-02-12 08:39] matthiashamacher commented on #72
any updates about this?

[2019-02-13 15:23] gconstable opened #80 "Pimgento-2-API Fails everytime - 504 Error - 6mins exactly"
# Symptom
- Importing products via api fails with no error reported via pimgento (spinner just spins).
- Google chrome browser (dev tools) reports a 504 error.
- Please see screenshot
![screenshot at 2019-02-13 15-11-06](https://user-images.githubusercontent.com/40803397/52721839-6cea1b80-2fa2-11e9-86c7-77a7ed5bd213.png)

# Simple Diagnosis
- After repeating the process approx 12 times i can see v

[2019-02-15 14:35] Dnd-Gimix commented on #80
Hello @gconstable ,

Thank you for using PIMGento 2 API.
It seems to be a server timeout that is set to 360s and that blocks your request.

Do you run Magento on NGINX or APACHE ? Do you know the request timeout value ?

Also, what is your PHP max_execution_time ?
Thank you.

Regards,

[2019-02-15 14:39] Dnd-Gimix commented on #78
Hello @QuentinSc ,

Thank you for using PIMGento 2 API.
We are aware of this issue and are currently working to provide optimizations on this side.

We'll keep you informed on this subject.

Regards,

[2019-02-15 15:02] gconstable commented on #80
Hi and thanks for getting back to me.

The server is running Apache.

I checked PHP configuration and it's set too 3600 seconds.  It was
originally 360 but I changed this days ago and reboot the server with no
luck.

I also looked for SQL timers, .htaccess files with no luck.

I am unsure though if an API URL is treated differently or not by the
server in terms of timers.  I could not locate where

[2019-02-15 15:04] gconstable commented on #80
I also temp enabled phpinfo if you would like to see.

https://35.204.185.170/phpinfo.php

On Fri, 15 Feb 2019, 15:35 Rémi Verrière, <notifications@github.com> wrote:

[2019-02-15 15:08] Dnd-Gimix commented on #80
@gconstable ,

In you php_info(), PHP max_execution_time seems to be set at 120. Maybe you want a greater value for this configuration ?
Also, could you increase the "Timeout" parameter of apache to see if it fix your issue ?

Regards,

[2019-02-15 16:20] Dnd-Gimix commented on #77
Hello @BenAtGene ,

Thank you for using PIMGento 2 API and for the precise description of your issue.

Could you detail us your Akeneo setup please ? Any specificities regarding Families, attributes and attribute groups ?

I can confirm you that attribute mapping is not required to import your attributes / attribute groups / families in Magento.

Regards,

[2019-02-19 04:57] gconstable commented on #80
Hi,
  Many thanks for getting back to me.  I went through all the settings again on the pim server on both apache and php with no luck.  However, I did manage to find the issue.  The issue was the php timers set on the Magento store.  I had to extend the php max_execution time and then after that I had to extend the admin session time within magento it’s self as the shop account was terminating be

[2019-02-19 09:04] Dnd-Gimix commented on #80
Hello @gconstable ,

Glad you could find the origin of the problem here !
I'll close this issue.

Have a good day ;-)

Regards,

[2019-02-20 11:29] alex5513 opened #82 "attribute_code en majuscule"
Bonjour,

j'ai cette erreur quand je modifie des attributs "Code attribut "PRODUCT_LINE_GROUP" invalide. Veuillez utiliser uniquement des lettres (a-z), des chiffres (0-9) ou underscore (_), le premier caractère doit être une lettre."

Est-ce qu'il y'a une option pour importer les attributs en minuscule même si ils sont en majuscules dans akeneo ? Vu que Magento supporte pas les attributs en maj.

[2019-02-20 16:52] Dnd-Gimix commented on #82
Bonjour Alex,

Merci d'utiliser PIMGento 2 API.

Nous sommes au courant de ce problème et @dnd-derwent a déjà ouvert une PR à ce sujet : https://github.com/Agence-DnD/PIMGento-2-API/pull/79

Les modifications seront déployées lors de la prochaine release du module.

Cordialement,

[2019-02-20 16:57] alex5513 commented on #82
Ok super !

Vous avez une petite idée de quand sortira la prochaine release ?

Cordialement

Alex

[2019-02-21 09:58] Dnd-Gimix commented on #82
Bonjour @alex5513,

La prochaine release est prévue demain, je reviendrai vers vous pour vous confirmer sa mise en ligne.

Bonne journée.

Cordialement,

[2019-02-21 09:58] #80 closed

[2019-02-21 10:03] alex5513 commented on #82
Ca marche

Merci bonne journée à vous

Cordialement

[2019-02-21 14:48] alex5513 opened #83 "Groupe d'attribut "Images""
Bonjour,

J'ai un autre problème, notre client a créé un attribute group "Images" dans akénéo.

Lors de l'import des attributs j'ai cette erreur SQL car l'attribute group Images existe déjà dans Magento :

![capture d ecran 2019-02-21 a 15 41 45](https://user-images.githubusercontent.com/6359584/53177155-ce883680-35ef-11e9-8f9d-448e8df2de51.png)

Cordialement

Alex

[2019-02-22 10:30] Dnd-Gimix commented on #82
Bonjour @alex5513 ,

Le nouvelle release 100.2.2 comprenant le correctif pour les noms d'attributs en majuscule est sortie : https://github.com/Agence-DnD/PIMGento-2-API/releases/tag/v100.2.2

Pourriez-vous revenir vers nous une fois le correctif testé de votre côté ?
Merci d'avance.

Cordialement,

[2019-02-22 10:33] Dnd-Gimix commented on #41
Hello @wgriffiths ,

I assume that if the fix worked for @zelgerj , it should work for you too after deleting the catalog_product_website content ;)

I'll close this issue, thank you all for the tests and feedbacks.
Feel free to open a new issue if needed !

Have a good day.

Regards

[2019-02-22 10:33] #41 closed

[2019-02-22 10:34] Dnd-Gimix commented on #49
Hello @vbidou ,

No problem for the delay, any news on your testing ? :)

Regards,

[2019-02-22 10:46] Dnd-Gimix commented on #55
Hello @MsEngineer ,

Thank you for using PIMGento 2 API.

We have just released the new 100.2.2 version of the connector, including a fix for price and currency issues, and more globally a refactor for value assignation regarding attribute scopes in Magento.

Could you upgrade your connector to the latest version and try again please ?
Also, if possible, make sure to clean the old data before impo

[2019-02-22 10:48] Dnd-Gimix commented on #55
@MsEngineer ,

Regarding the second question : _Also, the brand in Magento is an attribute but is a group in Akeneo. I need to import the brand in Magento. How can I configure that?_

At this time, PIMGento 2 API is not importing Akeneo groups as it has no equivalent on Magento side.

Regards,

[2019-02-22 10:51] Dnd-Gimix commented on #56
Hello @davidselo , @jonfres ,

We have just released the new 100.2.2 version of the connector, including the global refactor for value assignation regarding attribute scopes in Magento.
This release should fix all your prices issues.

Could you upgrade your connector to this version and try again please ?

Also, if possible, make sure to clean the old data before importing to prevent any side effe

[2019-02-22 10:53] Dnd-Gimix commented on #57
Hello @sydekumf ,

We have just released the new 100.2.2 version of the connector, including the global refactor for value assignation regarding attribute scopes in Magento.
This release should fix your last price issue.

Could you upgrade your connector to this version and try again please ?

Also, if possible, make sure to clean the old data before importing to prevent any side effect or unwante

[2019-02-23 15:44] wgriffiths commented on #41
Thanks @Dnd-Gimix

[2019-02-25 09:33] Dnd-Gimix commented on #83
Bonjour @alex5513 ,

Merci d'utiliser PIMGento 2 API.
Il semblerait qu'un autre utilisateur ait rencontré une problématique similaire à la votre : https://github.com/Agence-DnD/PIMGento-2-API/issues/77

Nous étudierons prochainement ces problèmes de duplicatas de groupes d'attributs et reviendrons vers vous avec plus d'informations ainsi qu'un correctif à ce sujet.

Cordialement,

[2019-02-27 08:24] randomresult opened #87 "Notice: Undefined offset when importing Products"
Hi There,

iam running Magento 2.3 on php7.2 with the latest release of PimgentoAPI.
I can run all Imports in the provided sorting. When i come to products i get the following error:

    product
    [08:11:08] Start import
    [08:11:08] Import ID : 5c76461c354fa
    [08:11:08] Create temporary table
    [08:11:09] completed
    [08:11:09] Fill temporary table
    [08:11:11] 23 line(s) found

[2019-02-27 09:14] Dnd-Gimix commented on #87
Hello @randomresult ,

Thank you for using PIMGento 2 API.
We have aknowledged the issue and provided a fix for it in : https://github.com/Agence-DnD/PIMGento-2-API/pull/88

This fix will be added to next week release, but in the meantime you can manually apply this fix to your installation.
Can you confirm that it works now ?

For your configurable product, you have to fill the configurable produ

[2019-02-27 09:47] randomresult commented on #87
i now have the following in my Composer.json
`"agencednd/module-pimgento-2-api": "dev-hotfix/product_scope",` and the import now works.

Any idea when the next release is about to come?

[2019-02-27 09:50] Dnd-Gimix commented on #87
Hi @randomresult ,

Glad it fixed your issue.

We usually release a new version of the connector every two weeks, so the next release should be online by the end of next week.

Have a good day !

Regards,

[2019-02-27 12:34] rakibabu commented on #87
@Dnd-Gimix

Can you release it earlier? I've the same issue.

[2019-02-27 14:48] Dnd-Gimix commented on #87
Hello @rakibabu ,

Unfortunately we won't be able to draft a new release before next week.

Regards,

[2019-02-27 14:58] alex5513 commented on #83
Bonjour,

En cherchant un peu d'où venait le souci, il s'avère que c'est un problème dans la fonction addAttributeGroup().

J'ai créé le ticket suivant sur le github Magento : https://github.com/magento/magento2/issues/21479

Je sais pas si il est très clair mais si ca peut vous être utile.

Cordialement

Alex

[2019-02-28 13:42] alex5513 commented on #83
En attendant une solution j'ai surchargé la méthode addAttributes() dans Pimgento pour vérifier si l'attribute_group_name n'est pas "Images".

![capture d ecran 2019-02-28 a 14 29 37](https://user-images.githubusercontent.com/6359584/53570328-8379a080-3b66-11e9-9251-d57a5855f158.png)

L'autre solution serait de mettre le prefix 'PIM' sur tous les groupes d'attributs pas seulement les numériques (l

[2019-02-28 14:14] alex5513 opened #89 "Warning: Illegal string offset 'currency'"
Bonjour,

Lors de l'import Product Model, j'ai l'erreur Warning: Illegal string offset 'currency' agencednd/module-pimgento-2-api/Helper/Import/Product.php on line 142.

J'ai débugué $price:

La ligne d'avant j'ai ces données :

array(2) {
  'amount' =>
  string(7) "1280.00"
  'currency' =>
  string(3) "EUR"
}

La ligne où j'ai l'erreur j'ai une String.

Je ne sais pas à quoi elle correspond mais

[2019-02-28 16:54] alex5513 opened #90 "Produits configurable sans infos"
Bonjour,

Lorsque j'ai réalisé tous les imports, tous les produits simples sont correctement créés.
Par contre les produits configurables sont sans infos, sans noms etc, il y'a juste le sku et les produits simples associés au produit avec le bon attribut variant d'Akénéo.

Dans Akénéo le product variant a les infos.

Je ne sais pas si y'a une configuration à modifier.

Avez vous déjà rencontré ce

[2019-02-28 18:40] viv81ster opened #91 "How to import products with the visibility attribute"
Hi

I try to synchronize configureble products between akemeo and magento.
And I don't understand how can get visibility and status attribute data in magento after importing.

I have a visibility select attribute with the same code as in magento and the same options.
Do I need to make that attribute with "Value per channel" checked option or not?

I just wish to have an opportunity assign the visi

[2019-03-07 15:30] VincentJorge opened #92 "Pimgento 2 API. (Release 100.2.2) - Categories URL BUG"
Bonjour ,

Je viens vous faire un petit retour sur la dernière release. (100.2.2)

Pour reproduire les problèmes :

1) php version : 7.1.26
2) magento version : 2.3.0
3) pimgento api version 2 Release (100.2.2)

* Mon Magento est une installation 100% vierge. (Sans aucun module externe)

### Ma configuration actuel de Pimgento + Store View

Pimgento :

![image](https://user-images.githubuserconten

[2019-03-08 12:42] Dnd-Gimix commented on #87
Hello @randomresult @rakibabu ,

New release 100.2.3 is out with the fix for this issue, can you update your connector ?
Thank you very much.

Regards,

[2019-03-09 15:09] stefandoorn opened #94 "Metrics in PIM to options in M2"
We are using Akeneo v3.0.6 and the latest M2 version. A lot of our variants are based on metrics (e.g. length). In M2 we would like to have them as dropdown options, because selecting in another way is error prone. Managing it with simple selects in Akeneo is also not an issue, as the codes cannot handle dots e.g., so metrics is the way to go.

On import to M2, there seems no way to add all the me

[2019-03-11 10:09] matthiashamacher opened #95 "Import of many products"
Hello there,
We currently want to run an import with round about 3000 Products with Images and URL rewrite regeneration, but the import doesn't finish. There where no errors and in the PIMGento-Logs the import status is processing. With some other products, we fixed this by importing one family after the other. But this is one family so we cannot split the import, by using the filter.
Any ideas wh

[2019-03-11 10:50] alex5513 commented on #82
C'est fonctionnel merci pour l'update  !

Cordialement

Alex

[2019-03-11 14:07] alex5513 opened #96 "Row size too large"
Bonjour,

Sur mon environnement de test, lors de l'import Product Model, j'ai cette erreur :

![Capture d’écran 2019-03-11 à 15 05 03](https://user-images.githubusercontent.com/6359584/54129740-37a0e400-440f-11e9-88af-ab228fe15000.png)

Cordialement

Alex

[2019-03-12 08:56] pimruiter opened #97 "Productmodel import only import updated models"
Hi Agence-Dnd,

First of all, thanks for the awesome API extension.

When importing all the changed products of the last X days, all of the productmodels will be imported from the Akeneo API. Is it possible to import only the changed models for speeding up the manual imports?

Kind regards,
Pim

[2019-03-15 13:11] stefanfr opened #99 "Old product categories won't be removed."
Hi,

When I change a category within Akeneo (and remove the old one) the old category is still selected within Magento. The new category tree is selected correctly.

Within the `product_model` I can see the new values without the old values but when I open the product within Magento the old and new categories are selected.

Am I doing something wrong or is it a bug within the code?

**EDIT: Found

[2019-03-15 14:38] #99 closed

[2019-03-18 12:26] Dnd-Gimix commented on #82
Merci pour votre confirmation, je ferme cette issue.

Cordialement,

[2019-03-18 12:26] #82 closed

[2019-03-18 14:27] WhynachtVega opened #100 "category import not importing correctly"
Hello,

When importing categories from akeneo we are facing an issue where after running the category import, it completes without recording any errors in the log. However
 category labels are not being imported at all.

![image](https://user-images.githubusercontent.com/48128806/54537095-ad0d3700-4970-11e9-9bf9-3436fbd2edc1.png)

**Environment**

Magento 2.3.0
Akeneo CE 3.0.7

[2019-03-18 15:43] JamesAllwood commented on #61
@VincentJorge @AnatoleRozan did you find a solution to this? I'm trying something similar, but it makes sense that the error is thrown is the attribute is only available for either product or model. I think that maybe the cause of the bug, you're using `name`, which can only be assigned to one or the other and not both

[2019-03-26 07:48] randomresult commented on #87
I did. still having issues but i think they are configuration-related. I dont get the products displayed in the frontend. Any support email or something. searching like crazy. Paid-Support?

[2019-03-27 10:27] stefanfr opened #101 "UTF-8 not correctly encoded within database"
Hi,

I found out that PimGento doesn't correctly store UTF-8 values collected from Akeneo. The values are stored as `GeÃ¯ntegreerd` instead of `Geïntegreerd` The temporary table is UTF-8 but the values aren't.

Within Akeneo the values are correctly stored.

[2019-03-28 07:54] stefanfr commented on #100
@WhynachtVega I had this exact problem also. Make sure the locale within Akeneo is the same as Magento. In my case Magento was set to en_US and Akeneo to en_GB.

[2019-03-28 07:58] stefanfr commented on #95
@matthiashamacher Try increasing `max_allowed_packet` within your mysql config

[2019-03-28 12:51] Dnd-Gimix commented on #49
Hello @vbidou ,

Without your confirmation, I'll assume that this issue is resolved.
Feel free to open a new one if necessary !

Have a good day.
Regards,

[2019-03-28 12:51] #49 closed

[2019-03-28 12:51] Dnd-Gimix commented on #55
Hello @MsEngineer ,

Any news on the testing of this issue ?

Regards,

[2019-03-28 12:52] Dnd-Gimix commented on #56
Hello @davidselo , @jonfres ,

Any news on the testing of this issue ?

Regards,

[2019-03-28 12:52] Dnd-Gimix commented on #57
Hello @sydekumf ,

[2019-03-28 12:54] MsEngineer commented on #55
Bonjour,
 J'ai dû complètement enlever votre extension car ça m'a créé beaucoup de problèmes dans ma base de données Magento.

--
Sent from my Android phone with mail.com Mail. Please excuse my brevity.On 28/03/2019, 12:51 "Rémi Verrière" <notifications@github.com> wrote:
Hello @MsEngineer ,
Any news on the testing of this issue ?
Regards,

—You are receiving this because you were mentioned.Reply

[2019-03-28 12:56] Dnd-Gimix commented on #87
Hello @randomresult ,

As this connector is maintained and developed for free, we are unfortunately not offering paid support on it.

Did you checked your Magento and your product configuration :
- Stock
- Price
- Visibility
- Display rules in the catalog configuration
- Category / website assignation
- Indexes / Caches

Regards,

[2019-03-28 12:57] Dnd-Gimix commented on #55
@MsEngineer ,

Entendu, merci pour votre retour.
Je ferme cette issue.

En vous souhaitant une bonne journée.

Cordialement,

[2019-03-28 12:57] #55 closed

[2019-03-28 12:59] Dnd-Gimix commented on #89
Bonjour @alex5513 ,

Merci pour l'ouverture de cette demande et les précisions apportées, nous allons étudier ce point prochainement afin d'apporter un correctif.

Bonne journée.
Cordialement,

[2019-03-28 13:03] Dnd-Gimix commented on #95
Hello @matthiashamacher ,

You might also want to increase the PHP timeout value.
Are you launching the import on the admin interface ?

If yes, you can open your browser console and follow the ajax request progress to see if any error is prompted.

Regards,

[2019-03-28 13:05] Dnd-Gimix commented on #97
Hi @pimruiter ,

Thank you for interest in PIMGento 2 API.

We will check this issue as soon as possible.

Regards,

[2019-03-28 13:07] Dnd-Gimix commented on #90
Hello @alex5513 ,

Pourriez-vous renseigner dans la configuration du mapping des produits configurables l'ensemble des attributs que vous souhaitez récupérer des produits model ?
Le champ "value" peut rester vide dans votre cas.

Merci.

Cordialement,

[2019-03-28 17:05] davidselo commented on #56
Good Afternoon,

Thanks for fixing the issue, I am sorry to tell you that we ended using a different Module integration.

If we use your module again I will let you know.

Thanks,
David

[2019-03-28 17:20] Dnd-Gimix commented on #56
Thank you @davidselo for your feedback.

Regards,

[2019-03-28 17:20] #56 closed

[2019-03-28 17:38] sydekumf commented on #57
Sorry, we already fixed the website mapping on our own.

[2019-03-28 17:38] #57 closed

[2019-03-28 17:50] alex5513 commented on #90
C'est fait, effectivement ca fonctionne ! Merci beaucoup

[2019-03-28 17:51] Dnd-Gimix commented on #90
Merci @alex5513 pour votre retour !

Bonne soirée.

Cordialement,

[2019-03-28 17:51] #90 closed

[2019-03-29 12:03] stefanfr opened #106 "Multi select attributes for configurables"
Hi,

Currently we have an issue with multi select attributes that need to be on the configurable product as well.
example:
A custom attribute related_colors has multiple selections for each simple product.
Simple product 1: Yellow, Bright Yellow and Fluorescent Yellow
Simple product 2: Blue, Baby Blue and Light Blue

When I configure this attribute to copy to the parent product only one of the val

[2019-04-09 01:34] mmm2k commented on #61
I am with same issue, and this may be the cause of my problem with displaying product detail pages? Products appear in category page but once is clicked on, comes up 'whoops..' magento 404 page.
Have spent a long time reindexing etc as per other magento recommendations but nothing fixes.
Same environment, Magento 2.3 + Pimgento API +Debian etc

![image](https://user-images.githubusercontent.com/49

[2019-04-10 07:06] stefanfr commented on #101
Any news on this issue?

[2019-04-10 07:06] stefanfr commented on #106
Any news on this issue?

[2019-04-10 13:07] randomresult commented on #91
I have a similar problem:
After Importing, my Configurable Product is missing the visibillity and the name. Also i dont have the price (as it is located in the simple product due to the fact, that diffrent sizes of that product have different prices)

How to fix that?

[2019-04-11 12:57] Johan-Hanekom opened #109 "Import Images"
### Summary

1. Run all the import elements , everything (all categories, attributes, etc. import, but not images

### Expected result

1. Need to see the product image in Magento

### Actual result

1. Not seeing the image in Magento backend or frontend

[2019-04-12 13:43] QuentinSc commented on #78
Hello @Dnd-Gimix ,

Any news on this issue ? :)

[2019-04-15 07:40] #101 closed

[2019-04-15 09:02] akosglue opened #111 "Fatal error: Uncaught TypeError: Argument 1 passed to Akeneo\Pim\ApiClient\Pagination\PageFactory::createPage() must be of the type array, null given"
### Environment and configuration
1. Magento CE 2.3.1
2. PHP 7.1
3. Pimgento API 100.2.4

### Steps to reproduce
1. install magento 2.3.1
2. install pimgento api 100.2.4
3. in magento admin: click on Stores -> Catalog -> Pimgento

### Expected result
1. config page of pimgento displayed

### Actual result
Fatal error: Uncaught TypeError: Argument 1 passed to Akeneo\Pim\ApiClient\Pagination\PageFac

[2019-04-15 09:41] akosglue commented on #111
it was a wrong installation on my side, on a clean install it is not reproducible.

[2019-04-15 09:41] #111 closed

[2019-04-15 09:54] akosglue commented on #100
I encountered the same problem, matching the locale's indeed helped.

[2019-04-16 13:25] SukeshiniR opened #113 "Sync existing Magento categories in Akeneo"
Hi Dnd,

### Environment and configuration

1. Akeneo 2.3.3
2. Pimgento2 API Module
3. Magento 2.3 CE

### Steps to reproduce

1. I already have few categories in Magento. I created the same category structure in Akeneo. But when I import the categories via Pimgento module, it creates a new category tree.

### Expected result

1. It should sync with the existing category tree of Magento.

### Actu

[2019-04-16 20:38] parveen12345 opened #114 "how we install the pimgento in our server"
hello
we want to install pimgento in our serve but how we install pimgento manually if we use composer it show error   "[Composer\Downloader\TransportException]
  Invalid credentials for 'https://repo.magento.com/packages.json', aborting."
please tell me how we install pimgento and how we configure to akeno

[2019-04-16 20:39] parveen12345 commented on #114
i am using  magento latest version 2.3.1

[2019-04-17 09:01] Dnd-Gimix commented on #114
Hello @parveen12345 ,

Thank you for using PIMGento 2 API.
The error is not related to PIMGento, please make sure your Magento credentials are correct on your server.

After that, you can consult the documentation and follow the install steps : https://github.com/Agence-DnD/PIMGento-2-API/blob/master/doc/summary.md

Regards,

[2019-04-17 09:09] Dnd-Gimix commented on #113
Hello @SukeshiniR ,

Thank you for using PIMGento 2 API.

You can't "synchronize" Magento existing categories and Akeneo categories as there is no code on the Magento side to link with Akeneo.

If you want to use PIMGento to import categories, please use the new category tree created by PIMGento. From there, categories will be linked.
Also, any category creation has to be done in Akeneo first and

[2019-04-17 09:22] Dnd-Gimix commented on #95
Hello @matthiashamacher ,

Any news or feedback on this subject ?
We have released a new version yesterday containing performance and data quantity improvement, you might be interested by upgrading your connector : https://github.com/Agence-DnD/PIMGento-2-API/releases/tag/v100.2.5

Regards,

[2019-04-17 09:35] Dnd-Gimix commented on #96
Bonjour @alex5513 ,

Merci d'utiliser le connecteur PIMGento 2 API.

Nous venons de sortir une nouvelle version du connecteur qui contient quelques améliorations en terme de performance et surtout de quantité de données transférées durant les imports : https://github.com/Agence-DnD/PIMGento-2-API/releases/tag/v100.2.5

Pourriez-vous mettre à jour votre connecteur et tester de nouveau pour vérifier

[2019-04-17 09:39] Dnd-Gimix commented on #78
Hello @QuentinSc ,

We have release a new version of the connector containing improvements on column quantity and performance : https://github.com/Agence-DnD/PIMGento-2-API/releases/tag/v100.2.5

Could you update your connector and check if it solves your issue ?
If not, could you give us more informations about your Akeneo setup :
- Number of products
- Number of attributes
- Number of localizabl

[2019-04-17 12:09] Dnd-Gimix commented on #91
Hello @viv81ster and @randomresult ,

Thank you for using PIMgento 2 API.

To help us identify the issue, could you provide screenshots of :
- Your "visibility" attribute on Akeneo side
- The configuration of the Configurable Attribute mapping in PIMGento configurations

Thanks a lot.

Regards,

[2019-04-17 14:03] isha-sharma1 opened #115 "Fetch Reference data using pimgento Agence-DnD PIMGento-2-API"
### Environment and configuration

1.  PIMGento2 (API)
2. Akeneo Entreprise Edition
3.  Magento 2.3
4. 5.7.25 - MySQL Community Server (GPL)
5. Server - Apache

### Steps to reproduce

1. create reference data attribute in akeneo and pull attributes, reference data options gets converted to text type in magento instead of select.

### Expected result

1. reference data attributes to be converted t

[2019-04-17 16:28] Dnd-Gimix commented on #115
Hello @isha-sharma1 ,

Thank you for using PIMGento 2 API.

Unfortunately, as there is no equivalent for reference data in Magento 2, PIMGento is not supporting this feature yet.
We would like to implement this feature but it has not been planned for now.

Feel free to open a  pull request if you decide to develop this feature yourself ;)

Have a good day.

Regards,

[2019-04-18 06:21] isha-sharma1 opened #116 "Scopable attribute values appears in magento with attribute code as prefix to the values"
### Environment and configuration

1. PIMGento Magento 2 (API Version) Extension.
2. Magento Commerce 2.3
3. Akeneo EE

### Steps to reproduce

1. After successful attribute import  and product import the scopable attributes in Akeneo appears in magento2 with their values with attribute code as prefix to the values

### Expected result

1. attribute values should appear
![Product T4713   Edit](htt

[2019-04-20 07:30] parveen12345 commented on #114
Thanks for the reply please tell me one thing we successful install the pimgento and then how we connect pimgento to akeneo and how we sync category and product from akeneo to Magento

[2019-04-20 13:27] parveen12345 commented on #114
hello we are facing this  problem please show the below error when we import product from akeneo to magento
product
[13:26:37] Start import
[13:26:37] Import ID : 5cbb1e0d59b1e
[13:26:37] Create temporary table
[13:26:37] Scope "http://134.209.47.176" does not exist.

[2019-04-20 14:05] parveen12345 commented on #114
products are not showing in frontend

[2019-04-20 18:22] parveen12345 opened #117 "Regarding product is not visible in frontend"
### Environment and configuration

1.
2.
3.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2019-04-20 18:25] parveen12345 commented on #117
Hello,
we successfully import the product but when go into the frontend it show no product in product end .
when we check the url  http://165.227.217.192/catalog/category/view/s/cameras/id/46/
Is this url is correct or not .
please tell me the reson what is the issue
we show this error:"We can't find products matching the selection."
plese help me its a very import for me please resply me as soon

[2019-04-21 15:45] Zyles commented on #117
Did you enable the product and cleared caches?

[2019-04-22 20:58] parveen12345 commented on #117
Yes but tell me how we set all the product is  set quality to show all the products in front end

[2019-04-23 01:35] Zyles commented on #117
I don't really understand your english but make sure you have done all the things you need to make a product visible in Magento.

- Enable product = Yes/Green
- Put stock status "In stock"
- Add quantity above 0
- Assign product to a category
- Clear cache
- Rebuild index

[2019-04-23 13:25] matthiashamacher opened #118 "Missing assigned simple products"
Hello,
we currently have the problem, that not all simple products were assigned to the configurable product during the product import. For example, we have a product with 108 simple products. After the import in Magento the configurable product has only 41 products under configurations, but all 108 products are correctly imported.

I debugged through the import process and the main problem is in

[2019-04-24 17:59] parveen12345 commented on #117
Thanks it's working

[2019-04-26 11:49] ankitgupta12345 opened #119 "Unable to import data"
Hello,

We are using Akeneo community edition version 3.0.7 and Magento ecommerce enterprise edition version 2.3.1.
we are getting errors while importing data.

product
[12:01:17] Start import
[12:01:17] Import ID : 5cc1a18d1b3fa
[12:01:17] Create temporary table
[12:01:18] completed
[12:01:18] Fill temporary table
[12:01:19] No Product data to insert in temp table

We have also tried Pimgento CSV

[2019-04-29 07:23] smagdziarz opened #120 "Misspelling in di.xml configuration file - FamilyVariant steps wrongly enumerated?"
In the [etc/di.xml](https://github.com/Agence-DnD/PIMGento-2-API/blob/master/etc/di.xml) configuration file, in the section for FamilyVariant there are steps from 1 to 5 and then suddenly step 8.

[code]

Isn't this just a misspellnig and step 8 should be simply step 6?

[code]

[2019-04-29 09:00] randomresult commented on #91
Hi There,
Sorry for the late reply.
I added the Information of the Visibillity-Attribute both in Akeneo (Attribute and Attribute in Product-Model) and Magento. But Magento is empty.

Attribute itself:
![Visibility_Attribute](https://user-images.githubusercontent.com/4463384/56885405-b0fe9f80-6a6c-11e9-8ba4-cf313356acce.png)

Attribute in product-model
![Visibility_Attribute_in_Productmodel](https:

[2019-04-30 10:22] max21 opened #121 "Pagination call http instead of https"
Hello,
When I tried to import attributes options with pimgento I have this issue :

![Sélection_067](https://user-images.githubusercontent.com/6594752/56955526-fe990c00-6b41-11e9-8d9f-0c523a9b24b5.png)

And after I have dump the stack trace :

[code]
The problem is the requested url for pagination. The url is http forced but my akeneo application works in https.
However the url configured in backo

[2019-05-02 17:52] furquizo commented on #12
I have a similar issue importing families

family
[17:41:38] Start import
[17:41:38] Import ID : 5ccb2bd258fec
[17:41:38] Create temporary table
[17:41:39] completed
[17:41:39] Fill temporary table
[17:43:05] 5429 line(s) found
[17:43:05] Match code with Magento ID
[17:43:06] completed
[17:43:06] Create or update families
[17:43:07] SQLSTATE[23000]: Integrity constraint violation: 1451 Cannot dele

[2019-05-06 07:11] ankitgupta12345 commented on #119
Hello,

Can anyone help in resolving this.

[2019-05-06 16:16] alex5513 opened #122 "Probleme dans la fonction setValues"
Bonjour,

Dans la méthode setValues() du job product, vous comparez l'attribut qui a été strtolower dans Magento avec l'attribut pas strtolower du PIM à la ligne 868. Du coup la valeur de l'attribut n'est pas importé.

Il y'a le même problème avec le job FamilyVariant à la ligne 74 dans updateAxis, en l'état les produits simples ne sont pas liés aux configurables si les attributs contiennent des m

[2019-05-10 14:56] #117 closed

[2019-05-13 11:29] isha-sharma1 opened #123 "Scopable and localizable attributes not getting imported in amgento2"
### Environment and configuration

1. PIMGento Magento 2 (API Version) Extension.
2. Magento Commerce 2.3
3. Akeneo EE

### Steps to reproduce

After successful attribute import and product import the attributes with scopable and localizable set to yes appears with blank values.
### Expected result

1. Attribute Values should appear
![Product VERRE A PIED 37 OPEN UP ROUND   Edit](https://user-imag

[2019-05-14 08:49] ArnoVDC opened #124 "Multiple currency in Akeneo"
Hi all,

I'm having troubles with a multi-website / multi-language Magento setup. I was wondering if there were any options on how to set different attributes in different stores. For example I have an attribute recommended price which is stored by pimgento as pim_attribute_recommended_price-nl_BE-GBP or pim_attribute_recommended_price-nl_BE-EUR. This needs to be the selling price in Magento.

I t

[2019-05-16 13:33] alex5513 opened #126 "Probleme de code pays akénéo/magento"
Bonjour,

Mon import des attributs avec leur traduction fonctionne correctement pour casi tous mes stores sauf la chine.

J'ai remarqué que le code pays de la chine sur Magento est zh_Hant_HK alors que dans le pim c'est zh_HK.
Ca peut surement venir de là, il faudrait peut etre faire un mapping pour les code pays Magento avec 2 "_".

Dites moi si vous prévoyez un fix.

Cordialement

Alexis DURST

[2019-05-17 08:26] alex5513 commented on #126
j'ai trouvé cette issue qui est lié : https://github.com/Agence-DnD/PIMGento-2/issues/56

[2019-05-18 22:02] nei opened #134 "url_key duplicated for configurables"
Akeneo: 3.0.14
Pimgento2 API
Magento: 2.2.5

Summary:
I want my configurable to have url_key, so I've added url_key on the mapping configuration for configurable and left the value field empty off. This will import the products but the configurable will error when you edit it because the url_key will be duplicated.

How can we map the url_key for a configurable?

### Steps to reproduce
1. Create a

[2019-05-19 00:31] nei commented on #72
@Dnd-Clowny can you guys document the ways to properly setup the configurable? I am also do not understand why we need to map all the fields for configurables since the models are dynamic. why not use the attributes from the csv?

[2019-05-20 16:05] QuentinSc opened #136 "Only import Image"
Hello,

What it is the simpliest way to run only image import for all product ?

[2019-05-21 15:40] QuentinSc opened #137 "Product Image 0kb"
### Environment and configuration

1.
2.
3.

### Steps to reproduce

1. Import product

### Expected result

1. All product image perfectly downloader

### Actual result

1. Random image file with 0Kb size => useless and bug creator

[2019-05-24 09:31] Dnd-Gimix commented on #122
Bonjour Alexis,

Merci d'utiliser PIMGento 2 API !

Ces points ont été corrigés dans la release 100.2.6 : https://github.com/Agence-DnD/PIMGento-2-API/releases/tag/v100.2.6

Peux-tu tester à nouveau et nous dire si tout est OK ?
En te souhaitant une bonne journée.

Cordialement,

[2019-05-24 09:33] Dnd-Gimix commented on #120
Hello @smagdziarz ,

Thank you for using PIMGento 2 API !
The fix has been released in the new version https://github.com/Agence-DnD/PIMGento-2-API/releases/tag/v100.2.6.

Have a good day.

Regards,

[2019-05-24 09:33] #120 closed

[2019-05-24 09:34] Dnd-Gimix commented on #100
Hello,

In addition, we have added a warning during the import process in order to inform users that labels are missing for categories or families.
I'll close this issue.

Regards,

[2019-05-24 09:34] #100 closed

[2019-05-24 09:37] Dnd-Gimix commented on #12
Hello @furquizo ,

You are missing a family label for the locale es-CL.
We have added warning messages if a label is missing on a locale for Categories and families in the new release : https://github.com/Agence-DnD/PIMGento-2-API/releases/tag/v100.2.6

Regards,

[2019-05-24 09:37] #12 closed

[2019-05-24 09:39] Dnd-Gimix commented on #89
Bonjour Alexis,

Nous avons corrigé ce point dans la dernière release du connecteur : https://github.com/Agence-DnD/PIMGento-2-API/releases/tag/v100.2.6

Peux-tu nous dire si ça corrige bien ton problème ?

Merci d'avance.

Cordialement,

[2019-05-24 09:41] Dnd-Gimix commented on #45
Hello @simonmaass ,

New release 100.2.6 is out containing the fix for proxy class : https://github.com/Agence-DnD/PIMGento-2-API/releases/tag/v100.2.6

I'll close this issue.

Regards,

[2019-05-24 09:41] #45 closed

[2019-05-24 09:47] Dnd-Gimix commented on #87
Hello @randomresult ,

Did you managed to display your products ?
Can we close this issue ?

Regards,

[2019-05-24 09:49] Dnd-Gimix commented on #109
Hello @Johan-Hanekom ,

As we have already solved this issue together, I'll close it.

Regards,

[2019-05-24 09:49] #109 closed

[2019-05-24 09:51] Dnd-Gimix commented on #114
Hello @parveen12345 ,

Did you managed to display your products ?

If not, please make sure to check the following steps:
-     Stock
-     Price
-     Visibility
-     Display rules in the catalog configuration
-     Category / website assignation
-     Indexes / Caches

Regards,

[2019-05-24 09:53] Dnd-Gimix commented on #118
Hello @matthiashamacher ,

We have released a new version of the connector, containing a fix for simple product assignation with a variant attribute using uppercase character, causing association to fail : https://github.com/Agence-DnD/PIMGento-2-API/releases/tag/v100.2.6

Could you test again with this new release and tell us if it fixed your issue ?

Thank you.

Regards,

[2019-05-24 09:56] Dnd-Gimix commented on #123
Hello @isha-sharma1 ,

Thank you for using PIMGento 2 API.

Please make sure that your akeneo locales are matching your Magento locales in General > Locale options configuration.
Also make sure that your Akeneo Channel code <> Magento Website code mapping is correctly configured.

Regards,

[2019-05-27 11:34] matthiashamacher commented on #118
Hello @Dnd-Gimix ,

I just checked it, but unfortunately, nothing had changed. I imported all types but there are still only 41 products assigned to the configurable product.

Kind regards

[2019-05-27 14:09] stbCreo commented on #134
I had a similar problem. Solved it with having a second url_key attribute, only assigned to the variants (don't forget the pimgento configuration). This should give different url_keys to the simple products in Magento and may solve your problem.

[2019-05-27 14:11] stbCreo commented on #124
How did you setup the price mapping in the Pimgento configuration?

[2019-05-27 14:23] Dnd-Gimix commented on #96
Bonjour @alex5513 ,

Est-ce que vous rencontrez toujours le problème ?

Cordialement,
Rémi.

[2019-05-28 14:15] oefterdal opened #142 "HOW TO SET PRODUCT NAME AS URL"
From your documentation you say:

- Go to Store -> Configuration -> Catalog -> PIMGento2
- Add attribute mapping
- Set Pim to “akeneo_product_name_field”
- Set Magento to “url_key”
- Save

This won't work in practice if you have space in your product name, the url key also get spaces. Magento has a method to transform product name to url_key, would it be better to use that?

[2019-05-28 14:18] oefterdal opened #143 "B2B and B2C"
We have 2 websites with 2 products categories (one per channel), is there a way to limit the import to assign the products to both websites? Trying to just add the products per website based on the category they are in.

[2019-05-29 09:28] nei commented on #134
I don't like this idea. I really believe it should be able to do all the basic mapping out of the box and then you can customise the mappings if you need.

[2019-06-04 10:59] said-java commented on #61
any solution

[2019-06-05 15:06] alex5513 commented on #89
Bonjour,

J'ai une nouvelle erreur :

![Capture d’écran 2019-06-05 à 17 01 36](https://user-images.githubusercontent.com/6359584/58967027-a940c200-87b3-11e9-8e19-6408a2c79928.png)

En faisant un dump de $price je n'ai pas toujours un array j'ai une string à la fin de ma boucle.

Quand je met if (is_array($price) && isset($price['currency'])) ca fonctionne.

Cordialement

Alexis

[2019-06-05 15:09] alex5513 commented on #96
Bonjour Rémi,

Je n'ai plus le problème, vous pouvez fermer le ticket.

Merci

Cordialement
Alexis

[2019-06-05 15:54] alex5513 commented on #122
Bonjour Rémi,

Apparement c'est bon maintenant.

Merci pour l'évol'

Cordialement

Alexis

[2019-06-06 09:13] Dnd-Gimix commented on #96
Bonjour @alex5513 ,

Merci, nous fermons cette issue.

Cordialement,

[2019-06-06 09:13] #96 closed

[2019-06-06 09:14] Dnd-Gimix commented on #122
Bonjour @alex5513 ,

Merci pour ta confirmation, je ferme cette issue.

Cordialement,

[2019-06-06 09:14] #122 closed

[2019-06-06 14:35] Dnd-Gimix commented on #89
Bonjour Alexis,

Aurais-tu une customization côté Akeneo sur la gestion des prix ?
Quel est le contenu du string retourné ?
Pourrais-tu vérifier à quel produit le prix correspond et nous envoyer un screen de l'attribut price côté Akeneo pour celui-ci s'il te plaît ?

Merci d'avance.

Cordialement,

[2019-06-13 11:35] hinadmin opened #149 "pimgento-2-api installation"
### Environment and configuration

1.
2.
3.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2019-06-18 21:31] simonrl commented on #118
Hi, did you solve this?

[2019-06-19 12:25] alex5513 opened #153 "Row size too large"
Bonjour,

Je pensais ne plus avoir l'erreur mais c'est toujours le cas sur notre preprod. Cela se produit que sur l'import product model (family, attribute et option fonctionnent).

Précedent ticket : https://github.com/Agence-DnD/PIMGento-2-API/issues/96
Même problème : https://github.com/Agence-DnD/PIMGento-2/issues/97

Cordialement

Alexis

[2019-06-20 19:03] JosephLeedy opened #155 "Long Import Times with Large Catalogs"
Hello,

We have a client with a catalog of nearly 150000 products (SKUs). Imports have to be ran through the CLI tool because of the fact that PIMGento loads every single product into a temporary table, which can take 24 hours or more to complete. Is there a way to speed up the process once the catalog is fully loaded into Magento? Perhaps a partial or differential import process?

Thank you for y

[2019-06-25 11:22] robin-homberg opened #156 "Sqlstate error in family (attribute-set) import / Missing fallback system"
### Environment and configuration

1. Akeneo version EE 3.1.1 (custom Akeneo Demo vmBox)
2. Pimgento-2-API version 100.2.7
3. Magento Server PHP Version 7.2.18
4. Magento Server MySQL Version 14.14
5. Magento Version 2.3.1

### Steps to reproduce

1. Setup multiple Stores with different languages in your Magento installation. F.e a german storeview with de_DE as languge and a french one with fr_FR

[2019-06-26 05:29] Dnd-Gimix commented on #155
Hello Joseph,

Thank you for using PIMGento 2 API.

Have you take a look at the "updated" filter in the admin ?
<img width="536" alt="Screenshot 2019-06-26 at 07 27 27" src="https://user-images.githubusercontent.com/11194345/60153219-e7923580-97e3-11e9-834d-9749add4859d.png">

You can provide a number of days to apply an updated since filter to your import.

Are your sure to use PIMGento 2 API ? (

[2019-06-26 05:32] Dnd-Gimix commented on #95
Hello,

Without answer on this subject, I'll close the issue.
Please, feel free to open a new one if the problem persists.

Regards,

[2019-06-26 05:32] #95 closed

[2019-06-26 05:34] Dnd-Gimix commented on #114
Hello @parveen12345 ,

Without answer on this issue, I'll close it.
Feel free to open a new one if necessary.

Regards,

[2019-06-26 05:34] #114 closed

[2019-06-26 05:38] Dnd-Gimix commented on #149
Hello @hinadmin ,

You are trying to install PIMGento 2, not PIMGento 2 API : "agencednd/module-pimgento"
I'll move this issue to the correct repository.

Regards

[2019-06-26 05:40] Dnd-Gimix commented on #83
Hello @alex5513 ,

Nous avons appliqué un correctif à ce sujet dans la version 100.2.7 du connecteur : https://github.com/Agence-DnD/PIMGento-2-API/releases/tag/v100.2.7

Dis-nous si le problème est bien corrigé ;)

Bonne journée.

Cordialement,

[2019-06-26 08:26] Dnd-Gimix commented on #87
Hello,

Without answer, I'll close this issue.
Please feel free to open a new one if necessary.

Regards,

[2019-06-26 08:26] #87 closed

[2019-06-26 08:30] Dnd-Gimix commented on #77
Hello @BenAtGene ,

We have provided a fix for this issue in the latest 100.2.7 version of the connector : https://github.com/Agence-DnD/PIMGento-2-API/releases/tag/v100.2.7

Could you try to update your connector and tell us if it fixed your problem ?

Thank you.

Regards,

[2019-06-26 08:39] Dnd-Gimix commented on #119
Hello @ankitgupta12345 ,

If your product import output is "No Product data to insert in temp table", it means that the product filter you have configured in the admin section is not matching any of your products in Akeneo.

Could you make sure that your configuration is matching products in your Akeneo please ?
Also, did you try to test the connection between your Magento and the Akeneo  with the

[2019-06-26 12:33] JosephLeedy commented on #155
Hello @Dnd-Gimix ,

Thank you for the suggestion. I've passed it on to the client.

I meant to say "100.2.6," but I accidentally dropped the first number.

Best Regards,
Joseph

[2019-06-26 14:31] ArnoVDC commented on #124
I mapped pim_attribute_recommended_price as the "price" attribute in Magento.

[2019-06-27 13:58] hinadmin opened #157 "When edit product "There has been an error processing your request""
Hi
I have installed pimgento (latest) on magento 2.3.1
Magento is setup to danish, and dkk in locale ect.
Setup and followed the documentation on pimgento and also respecting order in importing.

I get this error when edit sku that has "Pim x" Attribute Set and also, no products show up on front-end. No problem in edit if I create sku manually with default attribute set

![magento_1](https://user-

[2019-06-28 12:16] Dnd-Gimix commented on #157
Hello @hinadmin ,

Thank you for using PIMGento 2 API.
Could you please check your report directory (var/report) for the error in your last screenshot and send it please ?

Thanks.
Regards,

[2019-07-02 09:26] jonasGossiaux opened #159 "Product image attribute "doesn't exist""
### Environment and configuration

1. pimgento api 100.2.7
2. magento 2.3

### Steps to reproduce

1. Add image attribute to the magento config: PIM Images Attributes
2. Import products

### Expected result

1. The images from the pim should be mapped to the images in magento

### Actual result

1. In the cli i get the error "Attribute doesn't exist"
![image](https://user-images.githubusercontent.

[2019-07-05 11:50] matthiashamacher commented on #118
Hi @simonrl,
no, it is still not working. Also tested newest Version 100.2.7

Kind regards.

[2019-07-17 10:57] daveaie commented on #58
Hi @gconstable,

I have the same issue, can you explain what went wrong with mangento 2.3 ?

when I save configuration return a 404 magento page.

thanks,
Dave

[2019-07-17 11:11] gconstable commented on #58
Hi Dave,
  If i remember correctly, i had a few issues in my setup:

One issue i had was permissions, i believe that pimgento installed fine but for some reason my web server did not display correctly until i changed all the file permissions to 777 (for testing) on linux.

I also believe that i had a php issue as well which was not helping.  I believe it was a missing module.

Sorry i am not very

[2019-07-17 11:11] daveaie opened #161 "404 saving first api config"
### Environment and configuration

1. Akeno 3.2.12 EE
2. Magento Commerce 2.3.2
3. Pimgento 100.2.7

### Steps to reproduce
after followed the installation procedure from pimgento site , all seem right.
So first step of configuration is to configure te API connection :
following ad compile the field on "Store->Configuration->Catalog->Pimgento"
(Test button is disabled before saving data, isn't it?

[2019-07-17 14:15] sergiypop commented on #61
Hi, same problem here. Any solution on this task ?

[2019-07-18 10:22] daveaie commented on #58
Resolved, my problem is on akeneo host accessibility.

thanks,
best regards

[2019-07-19 08:03] bartoszkubicki opened #162 "Customizable options"
https://docs.magento.com/m2/ce/user_guide/catalog/settings-advanced-custom-options.html

Does Pimgento supports importing data to be set as customizable options in Magento? Is it possible to configure your product in Akaneo in such way, that Pimgento will treat its options or sth as customizable options in Magento?

[2019-07-19 10:06] dghaiesahmed opened #163 "Probleme d'import attribut"
Bonjour,
J'ai un attribut qui n'est pas importé dans le produit configurable pourtant il est importés dans les produits simples associés.
l'attribut est bien renseigné coté akeneo et dans le table "pimgento_product_model" mais aprés il n'est pas inséré dans la fiche de configurable.

![infos](https://user-images.githubusercontent.com/17962558/61527758-7ed25d80-aa1d-11e9-8579-cc45bc80e299.png)

Pou

[2019-07-24 14:34] donjuan13 opened #164 "Getting started with PIMgento2"
Hi there,

I recently installed your system and was wondering if it is possible to have a Magento CSV file create categories, products, families, etc.  Initially I thought we were going to be able to export products from our magento environment into Akeneo through the PIMgento ext. Right now it seems like that is not possible. I have to upload products, categories, etc into Akeneo then I can impor

[2019-07-30 09:32] vignesvaran opened #167 "Attribute options not synced/Imported"
### Environment and configuration

1. Magento 2.3.0
2. PIMGento2 (API)
3. Akeneo 3.1.2 CE

### Steps to reproduce

1. Install this extension in Magento 2.3 through composer
2. Put Akeneo credentials and put needed configuration
3. Process attribute import

### Expected result

1. Select and Multi-select attribute with options

### Actual result

1. There is no options created in Magento

[2019-07-30 09:44] #167 closed

[2019-08-15 16:27] vbidou opened #168 "Problem of Dependency when installing v100.1.0 from M2.3.2 Extension Manager"
Hello,
I installed yesterday a full new version of M2 (2.3.2).
When I tried to install the version 100.1.0 of the connector offered on the Magento marketplace, using the extension manager, I received an Error at the 1st step: "Readiness Check".
The error is on the item "Check Component Dependency".
And it gives no more details or pointing about where is the conflict.
Only a link to M2 page ([Here]

[2019-08-26 16:09] Dnd-Gimix commented on #168
Hello @vbidou ,

You are using Akeneo Connector for Magento 2, and not PIMGento 2 API, I'll transfer the issue to the correct repository ;)

Regards,

[2019-08-27 11:51] ACGPandurang commented on #61
In Products Configuration =>  Attribute Mapping section
Remove some field  and check once again Akeneo and Magento

[2019-09-04 09:22] thanninger commented on #134
We have a similar problem. Could you please describe in more detail how you named the attributes and how the pimgento configuration has to be in order for this to work?
Thanks!

[2019-09-05 09:35] bartoszkubicki opened #169 "Weak data validation while importing attributes"
It turned out that my installation of akeneo was broken, sth with database. However before discovering the issue with pim, I have already imported attributes, options and families. Pimgento didn't detected that my attribute data in pim is broken, so all custom imported attributes had backend type static (what means they require custom column in catalog_product_entity), and frontend_input was null

[2019-09-05 09:49] bartoszkubicki opened #170 "Poor extensibility of pimgento jobs"
In order to add any new step to Jobs, for example Product Import there is no easy way, because of strange import class configuration.
In [here](https://github.com/Agence-DnD/PIMGento-2-API/blob/08316ed71436a8aa0ed24b645d9cd55e430a1b53/Job/Import.php#L378), there is strange call, which performs all operation for import. In config file [here](https://github.com/Agence-DnD/PIMGento-2-API/blob/08316ed

[2019-09-25 15:13] bartoszkubicki opened #171 "Attributes with source model still get new options from Akeneo"
It is quite edge case, but it sometimes occurs. While having attribute in magento with source model bound, and corresponding one with options in akeneo, we stilll got these options imported as eav options. It occurs for example if we create `tax_class_id`. Its options from akeneo are inserted into `eav_attribute_option_*` tables. There is no validation that attribute has source model. On the other

[2019-10-02 14:15] Dnd-Gimix commented on #16
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:15] Dnd-Gimix commented on #42
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:15] Dnd-Gimix commented on #44
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:15] Dnd-Gimix commented on #61
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:16] Dnd-Gimix commented on #72
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:16] Dnd-Gimix commented on #77
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:16] Dnd-Gimix commented on #78
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:16] Dnd-Gimix commented on #83
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:16] Dnd-Gimix commented on #89
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:17] Dnd-Gimix commented on #91
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:17] Dnd-Gimix commented on #92
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:17] Dnd-Gimix commented on #94
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:18] Dnd-Gimix commented on #97
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:18] Dnd-Gimix commented on #106
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:18] Dnd-Gimix commented on #113
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:19] Dnd-Gimix commented on #115
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:19] Dnd-Gimix commented on #116
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:19] Dnd-Gimix commented on #118
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:19] Dnd-Gimix commented on #119
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:19] Dnd-Gimix commented on #121
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:19] Dnd-Gimix commented on #123
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:20] Dnd-Gimix commented on #124
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:20] Dnd-Gimix commented on #126
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:20] Dnd-Gimix commented on #134
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:20] Dnd-Gimix commented on #136
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:20] Dnd-Gimix commented on #137
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:21] Dnd-Gimix commented on #142
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:21] Dnd-Gimix commented on #143
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:21] Dnd-Gimix commented on #153
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:21] Dnd-Gimix commented on #155
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:21] Dnd-Gimix commented on #156
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:22] Dnd-Gimix commented on #157
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:22] Dnd-Gimix commented on #159
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:22] Dnd-Gimix commented on #162
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:22] Dnd-Gimix commented on #163
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:23] Dnd-Gimix commented on #164
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:23] Dnd-Gimix commented on #168
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:23] Dnd-Gimix commented on #169
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:23] Dnd-Gimix commented on #170
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:23] Dnd-Gimix commented on #171
Hello,

As announced on July 25, the repository PIMGento 2 API will be closed by the end of next week.
Please make sure to check the new connector "Akeneo Connector for Magento 2", available on the Akeneo Github at this address : https://github.com/akeneo/magento2-connector-community

We took note of your issue and we will make sure to provide a fix if necessary on the new version of the connector

[2019-10-02 14:43] stefandoorn commented on #94
Thanks @Dnd-Gimix. I wasn't aware of this announcement - where can I read it?

I guess this repository will stay available read-only, right?

[2019-10-07 13:45] bartoszkubicki commented on #170
Do I have to migrate all sumbitted issues to the new repository? (it is still present on the newest version of connector)

[2019-10-07 13:45] bartoszkubicki commented on #171
Do I have to migrate all submitted issues to the new repository? (it is still present on the newest version of connector)

[2019-10-07 13:46] bartoszkubicki commented on #169
Do I have to migrate all submitted issues to the new repository? (it is still present on the newest version of connector)

[2019-10-09 08:37] Dnd-Gimix commented on #169
Hello @bartoszkubicki ,

If the issues are still relevant on the new repository, you can migrate them to the new repository ;)

Have a good day !

Regards,

[2019-10-09 08:38] Dnd-Gimix commented on #171
Hello @bartoszkubicki ,

If the issues are still relevant on the new repository, you can migrate them to the new repository ;)

Have a good day !

Regards,

[2019-10-09 08:38] Dnd-Gimix commented on #170
Hello @bartoszkubicki ,

If the issues are still relevant on the new repository, you can migrate them to the new repository ;)

Have a good day !

Regards,

[2019-10-09 09:43] bartoszkubicki commented on #170
migrated

[2019-10-09 09:43] #170 closed

[2019-10-09 09:44] Dnd-Gimix commented on #94
Hello @stefandoorn ,

It has been announced in different ways :
- On Packagist : https://packagist.org/packages/agencednd/module-pimgento-2-api
- In the Readme : https://github.com/Agence-DnD/PIMGento-2-API/blob/master/README.md
- With suggest in the composer.json : https://github.com/Agence-DnD/PIMGento-2-API/blob/master/composer.json
- In Dn'D and Akeneo release articles :
   - https://www.dnd.f

[2019-10-09 09:47] bartoszkubicki commented on #171
migrated

[2019-10-09 09:47] #171 closed

[2019-10-09 09:52] bartoszkubicki commented on #169
migrated.

[2019-10-09 09:52] #169 closed